.footersection{
    background: black;
    overflow: hidden;
    .social{
        width: 80%;
        margin: auto;
        color: white;
        display: flex;
        flex-direction: row-reverse;
        padding: 2rem 0rem;
        a{
            margin: 0rem 5rem;
        }

    }

    .fa{
        font-size: 3rem;
        transition: 0.5s ease-out ;
        cursor: pointer;
    }
    .fa:hover{
        color: #ff6700;
    }
}
@media screen and (max-width: 768px){
    .footersection{
        display: flex;
        align-items: center;
    }
    .social{
        width: 80% !important;
        display: flex;
        flex-direction: row !important;
                justify-content: space-around;
    }
    .fa{
        font-size: 2rem !important;
    }
}