.home{
    background: radial-gradient(#525252, #131313);
}
.navcontainer{
    background: black;
    padding: 1rem 0rem 1rem;
}
nav{
    width: 80%;
    margin: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-between;
        width: 35%;
    }   
    .logo{
        width: 6.2rem;
        cursor: pointer;
    }
    


}
.showcase{
    display: grid;
    grid-template-columns: 10% 15% 30% 25% repeat(3, minmax(5rem,1fr)) 10%;
    grid-template-rows: 0.7fr 2fr 0.3fr;
    min-height: 90vh;
    color: white;
    .heroinfo{
        grid-column: 2/3;
        align-self: flex-end;
    }
    img{
        grid-column: 3/4;
        grid-row: 2/3;
        height: 100%;
       
    }
    .homeinfo{
        grid-column: 4/5;
        grid-row: 2/3;
        align-self: flex-end;
        span{
            color: #ff6700;
        }
        h3{
            padding: 0rem 0rem 2rem;
        }

    }

}
.preorder{
    background: #ff6700;
    padding: 1rem;
    border-radius: 0.5rem;
}
@media screen and (min-width:769px){
    nav{

        ul{
            display: flex;
            width: 50% !important;
        }
    }
}
@media screen and (max-width: 768px){
    nav{
        width: 90%;
        .logo{
            height: 4rem;
            width: 4rem !important;
        }
        ul{
            width: 80%;
        
        }
        li{
            font-size: 1.5rem!important;
        }
        .now{
            display: none;
        }
        .preorder{
            background: #ff6700;
            border-radius: 0.5rem;
        }
    }
    .showcase{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: white;
        .homeinfo{
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            margin: 0 5rem 5rem !important;
            text-align: justify !important;
            span{
                color: #ff6700;
            }
        }
        .heroinfo{
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
    .home{
        display: flex;
        flex-direction: column;
        h1, h2{
            font-size: 3rem !important;
        }
    }
}
