@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rubik"
}
h1{
    font-size: 5rem;

} 
h2{
    font-size: 5rem;
}
h3{
    font-size: 2.5rem;

}
h4{
    font-size: 2rem;

}
p{
    font-size: 2rem;

}
ul{
    list-style: none;
}
li{
    list-style: none;
    font-size: 2rem;
    font-weight: bold;

}
a{
    color: white;
    text-decoration: none
}
@import "home";
@import "features";
@import "footer";
@import "footersection"