@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik";
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

.home {
  background: radial-gradient(#525252, #131313);
}

.navcontainer {
  background: black;
  padding: 1rem 0rem 1rem;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

nav .logo {
  width: 6.2rem;
  cursor: pointer;
}

.showcase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 15% 30% 25% (minmax(5rem, 1fr))[3] 10%;
      grid-template-columns: 10% 15% 30% 25% repeat(3, minmax(5rem, 1fr)) 10%;
  -ms-grid-rows: 0.7fr 2fr 0.3fr;
      grid-template-rows: 0.7fr 2fr 0.3fr;
  min-height: 90vh;
  color: white;
}

.showcase .heroinfo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.showcase img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 100%;
}

.showcase .homeinfo {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.showcase .homeinfo span {
  color: #ff6700;
}

.showcase .homeinfo h3 {
  padding: 0rem 0rem 2rem;
}

.preorder {
  background: #ff6700;
  padding: 1rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 769px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 90%;
  }
  nav .logo {
    height: 4rem;
    width: 4rem !important;
  }
  nav ul {
    width: 80%;
  }
  nav li {
    font-size: 1.5rem !important;
  }
  nav .now {
    display: none;
  }
  nav .preorder {
    background: #ff6700;
    border-radius: 0.5rem;
  }
  .showcase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  .showcase .homeinfo {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: 0 5rem 5rem !important;
    text-align: justify !important;
  }
  .showcase .homeinfo span {
    color: #ff6700;
  }
  .showcase .heroinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home h1, .home h2 {
    font-size: 3rem !important;
  }
}

.featurescontainer {
  background: #282827;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.features {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features .wave img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
}

.features h2 {
  color: white;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 20px 21px 11px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 20px 21px 11px -1px rgba(0, 0, 0, 0.75);
}

.features .card {
  background: white;
  margin: 0rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
  width: 40rem;
  height: 50rem;
  -webkit-transition: 0.2s ease !important;
  transition: 0.2s ease !important;
}

.features .card h4 {
  padding: 2rem;
}

.features .card p {
  padding: 1rem;
}

.card3 img {
  margin-top: 4rem;
}

.card3 h4 {
  margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features h2 {
    margin: 2rem 0rem;
    font-size: 3rem;
  }
  .cards {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards .card {
    width: 20rem;
    height: 30rem;
    margin: 3rem 0rem;
    -webkit-transition: 0.2s ease !important;
    transition: 0.2s ease !important;
  }
  .cards .card:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-box-shadow: 20px 21px 11px -1px rgba(0, 0, 0, 0.75);
            box-shadow: 20px 21px 11px -1px rgba(0, 0, 0, 0.75);
  }
  .cards .card3 img {
    margin-top: 2rem;
  }
  .cards .card3 h4 {
    margin-top: 1.5rem;
  }
  .cards h4 {
    font-size: 1.5rem !important;
    padding: 1rem  !important;
  }
  .cards p {
    font-size: 1rem;
  }
}

.foot {
  background: radial-gradient(#525252, #131313);
  overflow: hidden;
}

.footer {
  width: 80%;
  min-height: 90vh;
  margin: auto;
  position: relative;
  z-index: 0;
  color: white;
}

.footer h2 {
  padding: 2rem 0rem;
}

.footer img, .footer .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer .circles {
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .circles {
    width: 120%;
  }
  .footer .footerimg img {
    width: 95%;
  }
  .footer h2 {
    font-size: 3rem;
    margin: 2rem 0rem;
  }
}

.footersection {
  background: black;
  overflow: hidden;
}

.footersection .social {
  width: 80%;
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 2rem 0rem;
}

.footersection .social a {
  margin: 0rem 5rem;
}

.footersection .fa {
  font-size: 3rem;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.footersection .fa:hover {
  color: #ff6700;
}

@media screen and (max-width: 768px) {
  .footersection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social {
    width: 80% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fa {
    font-size: 2rem !important;
  }
}
/*# sourceMappingURL=style.css.map */